@media print{
    .noprintpart, footer, h2 {
        display: none;
    }

    /*footer, h2 {
        display: none;
        color: orangered;
    }*/


    #myTicket {
        max-width: 302px;
        font-size: x-small;
    }
}