@model MyPOS2.Data.Entity.TERMINAL

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes-vous sur de vouloir supprimer ce terminal?</h3>
<div>
    <h4>TERMINAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nameTerminal)*@
            Nom du Terminal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameTerminal)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SHOP.idShop)*@
            Nom du Magasin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOP.SHOP_TRANSLATION.FirstOrDefault(s => s.shopId == model.shopId).nameShop)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" onclick="return confirm('Etes-vous sur de vouloir supprimer?');"/> |
            @Html.ActionLink("Retour à la Liste", "Index")
        </div>
    }
</div>
