@model MyPOS2.Data.Entity.AspNetRoles

@{
    ViewBag.Title = "Delete";
}

@section Styles {
    <link href="@Url.Content("~/Content/pos2.css")" rel="stylesheet" type="text/css" />
}

<h2>Supprimer</h2>

<h3>Etes-vous sur de vouloir le supprimer?</h3>
<div>
    <h4>ROLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" onclick="return confirm('Etes-vous sur de vouloir supprimer?');" /> |
            @Html.ActionLink("Retour à la Liste", "Index")
        </div>
    }
</div>
